.container {
  text-align: center;
}
.memeContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px auto;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.memeImgTextContainer {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  /* width: 100%; */
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: auto 600px;
}

.memeText {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  font-weight: bold;
  -webkit-text-stroke: rgb(56, 56, 56) 2px;
  color: white;
}
